In [3]:
import pandas as pd

In [9]:
df = pd.read_csv('../data/international-airline-passengers.csv')
df.columns = ['date', 'count']
df

                                                  date  count
0                                              1949-01  112.0
1                                              1949-02  118.0
2                                              1949-03  132.0
3                                              1949-04  129.0
4                                              1949-05  121.0
..                                                 ...    ...
140                                            1960-09  508.0
141                                            1960-10  461.0
142                                            1960-11  390.0
143                                            1960-12  432.0
144  International airline passengers: monthly tota...    NaN

[145 rows x 2 columns]